.default {
	width: 700px;
	height: auto; 
	padding: 10px;  
	overflow: auto;
	background-color: #E6DAE8;
 }

.picture-holder { 
 	width: 150px;
 	height: 150px;
 	margin: 10px;
 	float: left;
 	background-color: #61CEBB;
 }
 

.p-center { 
	position: relative;
    margin-left: 50px;
    color: grey;
 }


 .white-border { 
 	width: 150px;
 	height: 150px;
 	background-color: black;
 	border-style: solid;
 	border-color: white;
 	padding: 10px;
 	padding-bottom: 50px;
 	float: left;
 	margin: 10px;

  }

  .white-border > .picture-holder { 
 	width: 130px;
 	height: 150px;
 	margin: 10px;
 	float: left;
 	background-color: grey;
 
 	}
   
   h1, h2, h3, h4, h5, h6, p {
   	color: grey;
   	text-align: center;
   }

.defaultvar1 h1 {
	text-align: left;
}

.right-side p {
	padding-right: 50px;
	font-size: 12px;
	color: grey;

}

 .justified { 
 	color: white;
 	text-align: justify;
 	color: grey;
  }


.defaultvar1 { 
	width: 700px; 
	height: auto; 
	padding: 10px; 
	overflow: hidden;
 }

 .left-side {
 	width: 20%
 	color: black;
 	height: auto;
 	overflow: auto;
 	float: left;

 }
 

.right-side {
	width: 77%;
    float: right;
    height: auto;
    position: relative;
    top: -175px;
    left: 10px;
}

.right-side > p { 
	text-align: justify;
 }


.left-side1 {
	width: 7%;
	color: black;
 	height: auto;
 	float: left;
}

.picture-holder1 {
	width: 50px;
	height: 50px;
	background-color: grey;
	float: left;
	margin-right: 10px;
}

.right-side1 { 
	width: 92%; 
	height: auto;
	float: right;
 }

 textarea {
 	width: 625px;
 	height: 104px;
 }

.buttons {
	float: right;
    margin-right: 12px;
}

/*unfilled out*/

.default h4, h3 {
	text-align: left;
}

.default p { 
	text-align: justify;
 }


element.style {
}
style.css:135
.default p {
    text-align: justify;
}

.forum-p {
    text-align: justify;
    position: relative;
    top: -30px;
    padding: 30px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
.replies {
	margin: 100px;
}

.like-reply {
	margin-left: 30px;
    position: relative;
    top: -25px;
    left: 30px;
}

.toomuchborder {
	margin-bottom: -60px;
	height: 
}

/*Clip 7*/

.defaultvar2 {
	width: 500px;
	height: auto;
	padding: 10px;
	background-color: #E6DAE8;
}

.picture-holder2 {
	width: 40%;
	height: 100px;
	background-color: grey;
	float: left;
}

.picture-holder2-1 {
	width: 59%;
    height: 100px;
    background-color: grey;
    position: relative;
    right: -300px;
    bottom: -75px;

}

/*clip 8*/

.right-side2 {
	float: right;
	width: 59%;
}

.right-side2 h3 {
	position: relative;
	top: -20px;
}

.right-side2 p {
	position: relative;
	top: -40px;
	color: grey;
}

/*clip 9? or 8*/

.left-side2 {
	width: 59%;
	float: left;
}

.left-side2 h3 {
	position: relative;
	top: -20px;
}

.left-side2 p {
	position: relative;
	top: -40px;
	color: grey;
}

#clip9-left {
	width: 30%;
	float: left;
}

#clip9-right {
	width: 69%;
	float: right;
}

#clip9-right .picture-holder {
	background-color: grey;
	margin-bottom: 5px;
	margin-right: 5px;
}

.defaultvar3 {
	width: 1000px;
	height: 1000px;
	padding: 10px;
	background-color: black;
}

.left-side3 {
	width: 60%;
	height: auto;
}

.white-border2 {

}

.picture-holder3 {
	width: 150px;
	padding: 5px;
	margin: 10px;
	border-style: solid;
	border-color: grey;
	height: 150px;
	float: left;

}

.right-side3 {
	width: 40%;
	height: auto;
}

.menu {

}

.minimenu {

}

.lower-right3 {


}

.baguiobox {
	height: 100px;
	width: 150px;
	margin-right: 5px;
}



