* {
	margin: 0;
	padding: 0;
	font-family: calibri;
}

body {
	/*height: 100%;*/
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

i {
	display: block;
	float: left;
}

i:hover {
	
	font-size: 22px;
	cursor: pointer;
	
}

.top-nav {
	
}

.top-nav a, i {
	position: relative;
    font-size: 1em;
    color: white;
    line-height: 40px;
    padding: 0 7px;
} 

.top-nav img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	position: relative;
	top: .5rem;
	float: right;
	/*margin-right: .5rem;*/
}
button {
	background: transparent;
	border: 2px solid #d64e09;
	background-color: #d64e09;
	color: white;
	border-radius: 8px;
	padding: 5px;
}


}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#special {
	margin-top: 3em;
}

.top-nav {
	background: #d64e09;
	color: white;

}

.groups img:hover {
	opacity: 1;
}

/*.top-nav * {
	margin: 0;
	padding: 0;
} */
.top-nav input[type=text] {
	background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    position: relative;
    top: .5rem;
    right: 1rem;
    float: right;

    /*left: -.5em;*/
    line-height: 16px;
    padding: 4px;
    transition: all .2s ease-in-out;
    width: 20%;

}

i {

	margin-left: 2rem;

}

button:hover {
	border: 1px solid #d64e09;
	background: white;
	color: black;
}

li:hover {
	font-size: 22px;
	background-color: #d64e09;
	border-radius: 8px;

}

li a:hover {
	color: white;
}

.top-nav a, i {

	position: relative;
    font-size: 1.5rem;
    color: white;
    padding: 0 2px;
  }

#profile-photo img {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	float: left;
	margin-bottom: 6em;
	float: left;
	margin-right: 1em;

}
.wrapper {
	min-width: 320px; 
	max-width: 960px;
	min-height: 450px; 
	max-height: 700px;
	margin: auto;
	min-width: 320px;
	/*background: #ddd;*/
	
}


.main-wrapper {
	margin: auto 5%;
}
.main-hr {
	   height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#main-profile-photo img { 
	width: 5em;
	height: 5em;
	border-radius: 50%;
	float: left;
	margin-top: 1rem;
	margin-bottom: 9rem;
	/*margin-top: 1rem;*/
}

#profile-photo img{
/*	margin-bottom: 5em;
	float: left;*/
}

#description {
	position: relative;

	left:1.25rem;

}

.post-content  {
	margin: .5rem;
	margin-right: 1em;
	
}

/*h4,*/ #description strong {
	position: relative;
	/*top: 1.5rem;*/
}



.album {
	position: relative;
	margin:0 2em;
	margin-bottom: 1em;
	/*top: -1.5rem;*/
}

.groups {
	margin-bottom: 1em;
}

#description {
	margin-top: 2em;
}
#description h3 {
	margin-top: -1rem;
}

#description p {
	margin-bottom: 2em;
}

#posts {
	clear: both;

}

#post {
	margin-right: 2rem;
}

.section-a {
	width: 70%;
	float: left;
	/*margin-right: .5em;*/
}

#left-widget {
	width: 20%;
	float: right;
	/*position: relative;*/
	margin-top: 2em;
	/*left: -2rem;*/
	font-size: .75rem;

}

.album {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 8em;
	grid-gap: .125em;
	margin-top: .5em;
}


.groups {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 8em;
	grid-gap: .125em;
	margin-top: .5em;
}
.album img {
	width: 100%;
	height: 100%;
}

.groups img {
	width: 100%;
	height: 100%;
	.opacity: .5
}

#album1 #up3 {
	grid-column: 2/3;
	grid-row: 2/3;
}

#album1 #up5 {
	grid-column: 3/5;
	grid-row: 1/3;

}

#album2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer {
	clear: both;
	text-align: center;
	margin-top: 10em;
}


@media only screen and (min-width: 500px) {
	#main-profile-photo img {
		margin-bottom: 5rem;
	}

	#left-widget {
		font-size: 1rem;* {
	margin: 0;
	padding: 0;
	font-family: calibri;
}

body {
	/*height: 100%;*/
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

i {
	display: block;
	float: left;
}

i:hover {
	
	font-size: 22px;
	cursor: pointer;
	
}

.top-nav {
	
}

.top-nav a, i {
	position: relative;
    font-size: 1em;
    color: white;
    line-height: 40px;
    padding: 0 7px;
} 

.top-nav img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	position: relative;
	top: .5rem;
	float: right;
	/*margin-right: .5rem;*/
}
button {
	background: transparent;
	border: 2px solid #d64e09;
	background-color: #d64e09;
	color: white;
	border-radius: 8px;
	padding: 5px;
}


}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#special {
	margin-top: 3em;
}

.top-nav {
	background: #d64e09;
	color: white;

}

.groups img:hover {
	opacity: 1;
}

/*.top-nav * {
	margin: 0;
	padding: 0;
} */
.top-nav input[type=text] {
	background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    position: relative;
    top: .5rem;
    right: 1rem;
    float: right;

    /*left: -.5em;*/
    line-height: 16px;
    padding: 4px;
    transition: all .2s ease-in-out;
    width: 20%;

}

i {

	margin-left: 2rem;

}

button:hover {
	border: 1px solid #d64e09;
	background: white;
	color: black;
}

li:hover {
	font-size: 22px;
	background-color: #d64e09;
	border-radius: 8px;

}

li a:hover {
	color: white;
}

.top-nav a, i {

	position: relative;
    font-size: 1.5rem;
    color: white;
    padding: 0 2px;
  }

#profile-photo img {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	float: left;
	margin-bottom: 6em;
	float: left;
	margin-right: 1em;

}
.wrapper {
	min-width: 320px; 
	max-width: 960px;
	min-height: 450px; 
	max-height: 700px;
	margin: auto;
	min-width: 320px;
	/*background: #ddd;*/
	
}


.main-wrapper {
	margin: auto 5%;
}
.main-hr {
	   height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#main-profile-photo img { 
	width: 5em;
	height: 5em;
	border-radius: 50%;
	float: left;
	margin-top: 1rem;
	margin-bottom: 9rem;
	/*margin-top: 1rem;*/
}

#profile-photo img{
/*	margin-bottom: 5em;
	float: left;*/
}

#description {
	position: relative;

	left:1.25rem;

}

.post-content  {
	margin: .5rem;
	margin-right: 1em;
	
}

/*h4,*/ #description strong {
	position: relative;
	/*top: 1.5rem;*/
}



.album {
	position: relative;
	margin:0 2em;
	margin-bottom: 1em;
	/*top: -1.5rem;*/
}

.groups {
	margin-bottom: 1em;
}

#description {
	margin-top: 2em;
}
#description h3 {
	margin-top: -1rem;
}

#description p {
	margin-bottom: 2em;
}

#posts {
	clear: both;

}

#post {
	margin-right: 2rem;
}

.section-a {
	width: 70%;
	float: left;
	/*margin-right: .5em;*/
}

#left-widget {
	width: 20%;
	float: right;
	/*position: relative;*/
	margin-top: 2em;
	/*left: -2rem;*/
	font-size: .75rem;

}

.album {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 8em;
	grid-gap: .125em;
	margin-top: .5em;
}


.groups {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 8em;
	grid-gap: .125em;
	margin-top: .5em;
}
.album img {
	width: 100%;
	height: 100%;
}

.groups img {
	width: 100%;
	height: 100%;
	.opacity: .5
}

#album1 #up3 {
	grid-column: 2/3;
	grid-row: 2/3;
}

#album1 #up5 {
	grid-column: 3/5;
	grid-row: 1/3;

}

#album2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer {
	clear: both;
	text-align: center;
	margin-top: 10em;
}


@media only screen and (min-width: 500px) {
	#main-profile-photo img {
		margin-bottom: 5rem;
	}

	#left-widget {
		font-size: 1rem;
	}

}
