/*Universal CSS*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Calibri;
	color: white;

}

/*Core CSS*/

.topnav {
	background-color: black; 

}

.topnav ul li {
	display: inline;
	line-height: 2em;
	margin-left: 1em;

}

.topnav a {
	color: white;
	text-decoration: none;


}

#main-header {
	float: left;
	width: 40%;
	position: relative;
	margin-left: 2em; 
	margin-top: 3em;

}



.forms {
	float: right;
	padding: .5em;
	background-color: rgba(10, 10, 10, 0.5);
	width: 45%;
	margin-right: .5em;
	position: relative;
	border: 1px solid;
	border-radius: 5%;
	position: relative;
}

#log-in {
	margin-bottom: .125em;
	margin-top: 3em;	
}

input {
	width: 14em;
	border: 1px solid #ccd6dd;
	margin: .0625em;
}

 #password {
	width: 9em;
	float: left;
}

button {
	border-radius: 100px;
	text-align: center;


}

#log-in-button {
	display: inline;
	width: 5em;
	margin-left: -1.75em;
	background: transparent;
	border: 2px solid #B29600;
}

#sign-up-button {
	float: right;
	background: #7F6B00;

}

input[type=checkbox] {
	width: auto;
}

.remember-forgot {
	text-align: left;
	font-size: 12px;
}



/*slider*/
.slider {

}

.slide {
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;

}


.slide1 {
	background-image:url(https://static.pexels.com/photos/591216/pexels-photo-591216.jpeg);
	} /*2 women in the mountain*/
.slide2 {
	background-image:url(https://static.pexels.com/photos/39308/runners-silhouettes-athletes-fitness-39308.jpeg);
} /*2 men running*/

.slide3 {
	background-image:url(https://static.pexels.com/photos/7374/startup-photos.jpg);
} /*2 women in computer*/

.slide4 {
	background-image:url(https://static.pexels.com/photos/515169/pexels-photo-515169.jpeg);
} /*Group study*/

/*#main {
	background-image: url(https://static.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
} */

/*#main-header { 
	align-items: center;
	padding: 0 2em;
}*/